/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

 body {
 padding-top:65px;
 padding-bottom:65px;
 }

 .jumbotron {
 padding-top:80px;
 padding-bottom:80px;
 
 }

 .form-signin-heading {
 text-align: center;
 }

 .header {
 padding-left:50px;
 }

 .form-signin {
 max-width: 50%;
 padding: 20px;
 margin-top: 20px;
 background-color: lightblue;
 border: 1px solid green;
 border-radius: 15px;
 }

 .form-control {
 line-spacing:80px;
 border: 1px solid orange;
 width:90%;
 text-align: left;
 border-radius: 10px; 
 }

 .textbox {
 padding-left: 50px;
 
 }

 .formcss {
 padding-left: 30%;
 }