<div class="container">
	<div class="jumbotron">
	<center>
		<h1>Diary</h1><br>
		<p><h2> Leave the future You something to look back on!</h2>
			<h3>In a year or so, you can see how you have developed as a person. If you revisit a place, you can read what you saw or felt last time. Maybe you’ll even show future generations what you used to be like!</h3><br />

			<h2>Looking Back On Old Entries Can Lead to True Reflection & Growth</h2>

			<h3>Jessamyn West very astutely said, “People who keep journals have life twice.”

			Maybe what she was referring to was that you have the moment you lived and then you have the moment you’ve written about – something you can always refer back to. You look back on these situations and times – some “which today would seem unbearable” – and you realize you lived, you survived. You were even able to write it all down! And doing so can lead to great wisdom about the self.</h3></p><br />

			<p><h2>If you like, let's start to try one here!!!</h2></p>
		<a href="/user/new" class="btn btn-lg btn-success"> Signup now! </a> </center>
	</div>
</div>


